/* Basic styles to remove padding and margin and do box-sizing {{{1*/
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    background-color: var(--white-color);
    font-size: 16px;
    font-family: monospace;
}

/* Site styles {{{1*/
/* Header {{{2*/
.header {
    display: grid;
    grid-template-rows: 90% 10%;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 400px;
    min-height: 450px;
    height: 100%;

    padding: 16px;

    color: white;
    background-image:
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        var(--header-img);
    background-size: cover;
    background-attachment: fixed;
}

.header h1 {
    font-size: 9rem;
    line-height: 8rem;
}

.header ion-icon {
    margin: 0px auto;
    font-size: 4rem;
}
/*}}}*/
/* Sections {{{2*/
.section {
    text-align: center;
    /* padding: 16px; */
    padding: 3.5rem;
    font-size: 1.5rem;
}

.section_text {
    padding: 3.5rem;
}

.section_cards {
    display: flex;
    justify-content: center;
    align-items: top;
}

.section_black {
    background-color: var(--darkgray-color);
    color: var(--white-color);
}

/*}}}*/
.text-accent {
    color: var(--accent-color);
}

.card {
    display: inline-block;
    width: 247px;
    margin: 16px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

    transition: 0.3s all;
}

.card:hover {
    margin: 16px 16px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);

    transform: scale(1.1);
}

.card_container {
    text-align: left;
    padding: 16px;
    font-size: 1.0rem;
}

.card_container h4 {
    font-size: 1.16rem;
}

.card_container hr {
    margin: 5px 0px;
    border-color: var(--accent-color);
}

.card_container ul {
    list-style: none;
}

/* Media queries {{{2*/
@media screen and (max-width: 599px) {
    .header h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

/* Variables {{{1*/
:root {
    --header-img: url("https://images.pexels.com/photos/1105766/pexels-photo-1105766.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    --accent-color: #ff7600;
    --black-color: #000000;
    --darkgray-color: #333333;
    --gray-color: #666666;
    --lightgray-color: #999999;
    --lightgray2-color: #cccccc;
    --white-color: #eeeeee;
}
